body {
  font-family: "Cairo", sans-serif;
  margin: 20px;
  background: linear-gradient(to bottom right, #2c3e50, #3498db);
  color: #fff;
  direction: rtl;
  text-align: center;
  text-shadow: 0 0 3px rgba(0,0,0,0.2);
}

/* رسالة الترحيب فوق الساعة */
#greeting-message {
  font-size: 18px;
  background-color: #00000080;
  color: #ffd700;
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: none;
  animation: fadeIn 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(255,215,0,0.4);
}

/* زر العداد */
#visit-counter {
  font-size: 14px;
  background-color: #f9e27d;
  color: #333;
  padding: 6px 15px;
  border-radius: 20px;
  display: block;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(255,215,0,0.5);
  font-weight: bold;
  width: fit-content;
  text-align: center;
}

/* الأزرار */
button {
  background-color: #ffd700;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px 5px;
  box-shadow: 0 0 10px rgba(255,215,0,0.4);
}

button:hover {
  background-color: #fff176;
  transform: scale(1.05);
}
